.wrapper {
    margin: auto;
    overflow-y: scroll;
    height: 100vh;
    word-break: keep-all;
}

placeholder {
    color: #ccc;
}

#footer {
    position: fixed;
    bottom: 0;
    z-index: 99;
    border-radius: 0;
}

#modal-payment .btn-amount button.active {
    background-color: #4e7bfa;
    color: white;
}

.half {
    width: 25%;
}

.white {
    color: #fff;
}

.center {
    text-align: center;
    align-content: center;
    margin: auto;
}

.otpcode-info h5 {
    color: #fff;
    line-height: 1.7rem;
}

.optcode-bg {
    width: auto;
    padding: 1.4rem 0 2.4rem 0;
    color: #fff;
}

.otpcode {
    font-size: 2rem;
    margin: 0 0.1rem;
    padding: 0 0.5rem 0.6rem;
    border-bottom: 3px solid #fff;
}

.optcode-timer {
    display: ;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.optcode-timer .btn {
    margin: auto;
    display: block;
    max-width: 100px;
}

.btn-otp {
    color: #144ae1;
    font-weight: bold;
}

.btn-outline-otp {
    color: #fff;
    border-color: #fff;
}

.btn-link-otp {
    color: #fff;
    text-decoration: underline;
}

.passcode {
    background: no-repeat;
    width: 100%;
}

#atm_go_button {
    position: fixed;
    bottom: 2%;
    width: 80%
}

.product-img {
    max-width: 100%;
}

.content {
    padding: 18px 18px 40px 18px;
}

.item-descriptopm {
    margin: 0 0 4px 0;
}

.form-group {
    margin: 20px 0px 30px 0px;
}

.atm_header {
    background-color: #3e63bc;
    color: #fff;
    padding: 20px 20px 10px 20px;
}

.auth {
    background-color: #3e63bc;
    height: 100vh;
}

.toppadding {
    padding-top: 10%;
}

.success {
    vertical-align: middle;
    align-content: center;
    padding-top: 50%;
}

.success img {
    width: 20%;
}

.fit {
    max-width: 100%;
}

.form-group btn-group btn-amount {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 0;
}

.btn-md {
    padding: 0.5rem 1rem;
    font-size: (1.25rem-0.875rem)/2+0.875rem;
    border-radius: 0.25rem;
}
